<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/EstiloIndex1.css">
    <title>Act1</title>
</head>
<body>

    <nav>
        <a href="~/Home/MiPerfil">Juan Hector Contreras Dominguez</a>
    </nav>
    <main>
        <h2>Información de la Materia</h2>
        <p>Nombre de la materia: Programación web</p>
        <p>Semestre: Séptimo</p>
        <p>Periodo: Agosto-Diciembre 2023</p>
    </main>
</body>
</html>
