<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="~/EstiloPerfil.css">
</head>
<body>
    <header>
        <h1>Datos Personales</h1>
    </header>
    <main>
        <section class="perfil">
            <img src="~/Imgs/Foto.jpg" alt="Foto de Perfil">
            <h2>Nombre Completo</h2>
            <p>Juan Hector Contreras Dominguez</p>
        </section>
        <section class="contacto">
            <h2>Información de Contacto</h2>
            <p>Correo Institucional: 201G0239@rcarbonifera.tecnm.mx</p>
            <p>Carrera: Ingeniería en Sistemas Computacionales</p>
            <p>Número de Teléfono: 8616199122</p>
        </section>
    </main>
</body>
</html>
